<!DOCTYPE html><!--STATUS OK-->

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>query</title>
</head>

<body>


<strong>模板测试</strong>
<br>
<br>
<form  action="{{url_for('show_list')  }}" method="get">
输入单个查询:<br>
<textarea name="query" cols ="100" rows = "2"></textarea>
<br>
<input type="submit" value="提交">
</form>


<form  action="{{url_for('show_pair')}}" method="get">
输入一对查询:<br>
<textarea name="query_a" cols ="100" rows = "2"></textarea>
<br>
<textarea name="query_b" cols ="100" rows = "2"></textarea>
<br>
<br>
<br>
<input type="submit" value="提交">
</form>



</body>
</html>